<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Words</title>
</head>
<body>
  <ul>
    <% @words.each do |word| %>
      <li><%= word %></li>
    <% end %>
  </ul>
</body>
</html>

